<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://serverlessfunctionjd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e53e44e4-7d59-4bef-8f26-27fd1eaa12fc/resourcegroups/SignalRServerless/providers/Microsoft.Web/sites/ServerlessFunctionJD</ResourceId>
    <UserName>$ServerlessFunctionJD</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://serverlessfunctionjd.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>